	*
	{
		box-sizing: border-box;
	}
	
	body
	{
		margin: 0;
		background-color: #0e132f;
		font-size: 12pt;
		--post001Color: #5a8bd6;
		--bgDarkBlue: #0e132f;
	}
	
	html
	{
		
	}
	
	.debugBlock
	{
		position: fixed;
		background-color: black;
		min-width: 10px;
		min-height: 10px;
		top: 0;
		left: 0;
		z-index: 100;
		padding: 0 5px;
		color: white;
	}
	.mobile, .tablet, .desktop, .largeDesktop
	{
		display: none;
	}
	
	/* Top Navigation Bar ///////////////////////////////////////////// */
	.navBar
	{
		background-color: var(--bgDarkBlue);
		position: fixed;
		width: 100vw;
		height: 10vh;
		top: 0;
		overflow: hidden;
		border: solid 0.5vh #a7c3ed;
	}
	.hamburger:hover + .navBar
	{
		height: /90vh;
	}
	.hamburger:hover + .navBar .navBarStem
	{
		top: /5%;
	}
	.hamburger:hover ~ .container
	{
		top: /90vh;
		overflow: /hidden;
	}
	
	.hamburger
	{
		width: 5vh;
		height: 5vh;
		background-color: #a7c3ed;
		position: absolute;
		top: 2.5vh;
		right: 5%;
		z-index: 4;
	}
	
	.dotTop
	{
		width: 5vh;
		height: 5vh;
		background-color: #a7c3ed;
		position: absolute;
		top: 2.5vh;
		left: calc(50vw - 2.5vh);
		border-radius: 50%;
	}
	.navBarStem
	{
		width: 1vh;
		height: 100vh;
		background-color: #a7c3ed;
		position: absolute;
		top: 80%;
		left: calc(50vw - 0.5vh);
		z-index: -1;
		overflow: hidden;
	}
	
	
	/* Body ////////////////////////////////////////////////////// */
	.container
	{
		position: relative;
		top: 10vh;
		height: 90vh;
		width: 100%;
		margin: 0 auto;
		border: solid 3vh /black;
		overflow-y: scroll;
	}
	.containerSpread
	{
		position: relative;
		margin: 0 auto;
		background-color: /red;
		width: 50vw;
		height: 70vh;		/* can push Gaps down */
		overflow: visible;
		border: solid 2px /white;
	}
	
	.postSpread
	{
		background-color: /#444444;
		width: 181vw;		/* (containerSpread width * 3) + (postColumnGap * 2) + 1*/
		height: 100%;
		overflow: hidden;
		border: solid 2px /red;
		margin: 0 auto;
		position: relative;
		float: right;
		right: -66vw;		/* negative of (((postSpread width - 1) - containerSpread width) / 2) + 1 */
		transition: all .5s ease-out;
	}
	.postSpreadGap
	{
		position:relative;
		border: dashed 2px #333333;
		width: 100%;
		height: 5vh;
		background-color: /purple;
	}
	.postSpreadGapStem
	{
		position:/relative;
		width: 1vh;
		height: 5vh;
		background-color: #a7c3ed;
		position: absolute;
		top: 0;
		left: calc(50vw - 2px);
		z-index: -1;
	}
	
	.postColumn
	{
		background-color: purple;
		width: 50vw;
		height: 100%;
		float: left;
	}
	.postColumnGap
	{
		display: inline;
		background-color: /cyan;
		width: 15vw;
		height: 100%;
		float: left;
	}
	.postColumnGapStem
	{
		position: relative;
		top: 50%;
		width: 100%;
		background-color: black;
	}
	.postSingle
	{
		width: 100%;
		height: 100%;
		background-color: #282f54;
		background-color: /purple;
		padding: 2%;
		border: solid 2px blue;
	}
	.postTitle
	{
		width: 100%;
		min-height: 50px;
		border: dashed 1px #444444;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 3em;
		color: white;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 2vh;
	}
	.postBody
	{
		margin: 0 auto;
		padding: 5px;
		width: 60%;
		min-height: 5vh;
		border: dashed 1px #555555;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 1.3em;
		color: white;
	}
	
	
	/* Posts ////////////////////////////////////////////////////// */
	#emptyPost
	{
		border: solid 0 red;
		background-color: transparent;
	}
	#post001 
	{
		border: solid 0.5vh #5a8bd6;
	}
	#post001 .postTitle
	{
		color: #5a8bd6;
		background-color: /red;
	}
	#post001 .postTitle p
	{
		position: relative;
		top: -55px;
		font-size: 3em;
	}
	#post001 .postColumnGapStem
	{
		background-color: red;
	}
	#post002 
	{
		border: solid 0.5vh #0c69f5;
	}
	#post002 .postTitle
	{
		color: #0c69f5;
	}
	#post003
	{
		border: solid 0.5vh #289786;
	}
	#post003 .postTitle
	{
		color: #289786;
	}

	.dot
	{
		width: 5vh;
		height: 5vh;
		background-color: #a7c3ed;
		position: absolute;
		border-radius: 50%;
		bottom: -7vh;
		left: calc(50% - 2.5vh);
	}
	.right
	{
	}
	.left
	{
	}
	

/* Big Desktop */
@media screen and (min-width: 1025px)	
{
	.mobile, .tablet, .dekstop
	{
		display: none;
	}
	.largeDesktop
	{
		display: block;
	}
	
	/.postSingle
	{
		margin: 0 auto;
		width: 50%;
		min-height: 50px;
		border: solid 3px black;
		background-color: #282f54;
	}
}

/* Desktop */
@media screen and (max-width: 1024px)	
{
	.mobile, .tablet, .largeDesktop
	{
		display: none;
	}
	.desktop
	{
		display: block;
	}
	
	/.postSingle
	{
		margin: 0 auto;
		width: 60%;
		min-height: 50px;
		border: solid 3px black;
		background-color: #282f54;
	}
}	

/* Tablet */
@media screen and (max-width: 768px)	
{
	.mobile, .desktop, .largeDesktop
	{
		display: none;
	}
	.tablet
	{
		display: block;
	}
	
	/.postSingle
	{
		margin: 0 auto;
		width: 80%;
		min-height: 50px;
		border: solid 3px black;
		background-color: #282f54;
	}
}

/* Mobile */
@media screen and (max-width: 482px)
{
	.mobile
	{
		display: block;
	}
	.tablet, .dektop, .largeDesktop
	{
		display: none;
	}
	
	/.postSingle
	{
		margin: 0 auto;
		width: 95%;
		min-height: 50px;
		border: solid 3px black;
		background-color: #282f54;
	}
}