	*
	{
		box-sizing: border-box;
	}
	
	body
	{
		margin: 0;
		background-color: #0e132f;
		font-size: 12pt;
		--post001Color: #5a8bd6;
		--bgDarkBlue: #0e132f;
	}
	
	html
	{
		
	}
	
	.debugBlock
	{
		position: fixed;
		background-color: black;
		min-width: 10px;
		min-height: 10px;
		top: 0;
		left: 0;
		z-index: 100;
		padding: 0 5px;
		color: white;
	}
	.mobile, .tablet, .desktop, .largeDesktop
	{
		display: none;
	}
	
	/* Top Navigation Bar ///////////////////////////////////////////// */
	.fixedNavigationBar
	{
		background-color: var(--bgDarkBlue);
		position: fixed;
		width: 100vw;
		height: 10vh;
		top: 0;
		overflow: hidden;
		border: solid 0.5vh #a7c3ed;
	}
	.fixedNavigationBarStem
	{
		width: 1vh;
		height: 100vh;
		background-color: #a7c3ed;
		position: absolute;
		top: 80%;
		left: calc(50vw - 0.5vh);
		z-index: -1;
		overflow: hidden;
	}
	
	.hamburger:hover + .fixedNavigationBar
	{
		height: /90vh;
	}
	.hamburger:hover + .fixedNavigationBar .fixedNavigationBarStem
	{
		top: /5%;
	}
	.hamburger:hover ~ .contentBelowNavigationBar
	{
		top: /90vh;
		overflow: /hidden;
	}
	
	.hamburger
	{
		width: 5vh;
		height: 5vh;
		background-color: #a7c3ed;
		position: absolute;
		top: 2.5vh;
		right: 5%;
		z-index: 4;
	}
	
	.dotTop
	{
		width: 5vh;
		height: 5vh;
		background-color: #a7c3ed;
		position: absolute;
		top: 2.5vh;
		left: calc(50vw - 2.5vh);
		border-radius: 50%;
	}
	
	.grid
	{
		border: dashed .1vh #aaaaaa;
		width: 30vh;
		height: 70vh;
		margin: 0 auto;
		position: relative;
		top: 0vh;
	}
	
	.row
	{
		border: solid .1vh #555555;
		width: 100%;
		height: 10vh;
		position: relative;
	}
	
	.oneThird
	{
		border: solid .2vh green;
		width: 33.3%;
		height: 100%;
		float: left;
	}
	
	.centerStems
	{
		width: 70%;
		height: 1vh;
		background-color: #a7c3ed;
		position: absolute;
		left: 15%;
		top: 50%;
	}
	.centerStemRight
	{
		width: 40%;
		height: 1vh;
		background-color: #a7c3ed;
		position: absolute;
		left: 45%;
		top: 50%;
	}
	
	.emptyThird
	{
		border: solid .2vh transparent;
		width: 33.3%;
		height: 100%;
		float: left;
	}
	
	.navDot
	{
		width: 5vh;
		height: 5vh;
		background-color: #a7c3ed;
		position: relative;
		border-radius: 50%;
		bottom: -7vh;
		left: calc((50% - 2.5vh) + 4px);
		top: 2.5vh;
	}
	
	
	/* Body ////////////////////////////////////////////////////// */
	.contentBelowNavigationBar
	{
		position: relative;
		top: 10vh;
		height: 90vh;
		width: 100%;
		margin: 0 auto;
		border: solid 3vh /black;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.centerAnchor
	{
		margin: 0 auto;
		width: 50vw;
	}
	
	.ThreePostHolder
	{
		background-color: /#444444;
		width: 181vw;		/* (centerAnchor width * 3) + (spaceBetweenPostContainer * 2) + 1*/
		height: /100%;
		overflow: hidden;
		border: solid 2px /red;
		margin: 0 auto;
		position: relative;
		float: right;
		right: -66vw;		/* negative of (((ThreePostHolder width - 1) - centerAnchor width) / 2) + 1 */
		transition: all .5s ease-out;
	}
	.spaceBetweenThreePostHolders
	{
		position:relative;
		float: right;
		right: -66vw;
		border: dashed .3vh #333333;
		width: 181vw;
		height: 5vh;
		background-color: /purple;
		overflow: visible;
		transition: all .5s ease-out;
	}
	/* .stemVertical */
	/* { */
		/* position:relative; */
		/* float: right; */
		/* width: /1vh; */
		/* height: 100%; */
		/* background-color: #a7c3ed; */
		/* right: calc(90.5vw - 1.5vw); */
		/* top: 0; */
		/* z-index: -1; */
	/* } */
	.stemVertical
	{
		left: 50%;
		height: 100%;
		position: relative;
		width: 1vh;
		background-color: #a7c3ed;
		z-index: -1;
	}
	.backStem
	{
		left: 50%;
		height: 100%;
		position: fixed;
		width: 1vh;
		background-color: #a7c3ed;
		z-index: -1;
		transition: all .2s cubic-bezier(1,.01,1,.01) .1s;
	}
	
	.postContainer
	{
		position: relative;
		background-color: purple;
		width: 50vw;
		float: left;
	}
	.spaceBetweenPostContainer
	{
		position: relative;
		display: inline;
		background-color: /cyan;
		width: 15vw;
		height: 50px;
		float: left;
	}
	.stemHorizontal
	{
		position: relative;
		top: 50%;
		width: 100%;
		background-color: black;
	}
	.post
	{
		position: relative;
		width: 100%;
		height: /100%;
		background-color: #282f54;
		background-color: /purple;
		padding: 2%;
		border: solid 2px blue;
	}
	.title
	{
		width: 100%;
		min-height: 50px;
		border: dashed 1px #444444;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 3em;
		color: white;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 2vh;
	}
	.body
	{
		margin: 0 auto;
		padding: 5px;
		width: 60%;
		min-height: 5vh;
		border: dashed 1px #555555;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 1.3em;
		color: white;
	}
	
	
	/* Posts ////////////////////////////////////////////////////// */
	#emptyPost
	{
		border: solid 2px green;
		background-color: /green;
		opacity: 0;
	}
	#post001 
	{
		border: solid 0.5vh #5a8bd6;
	}
	#post001 .title
	{
		color: #5a8bd6;
		background-color: /red;
	}
	#post001 .title p
	{
		position: relative;
		top: -55px;
		font-size: 3em;
	}
	#post001 .stemHorizontal
	{
		background-color: red;
	}
	#post002 
	{
		border: solid 0.5vh #0c69f5;
	}
	#post002 .title
	{
		color: #0c69f5;
	}
	#post003
	{
		border: solid 0.5vh #289786;
	}
	#post003 .title
	{
		color: #289786;
	}

	.dot
	{
		width: 5vh;
		height: 5vh;
		background-color: #a7c3ed;
		position: absolute;
		border-radius: 50%;
		bottom: -7vh;
		left: calc(50% - 2.5vh);
	}
	.right
	{
	}
	.left
	{
	}
	

/* Big Desktop */
@media screen and (min-width: 1025px)	
{
	.mobile, .tablet, .dekstop
	{
		display: none;
	}
	.largeDesktop
	{
		display: block;
	}
	
	/.post
	{
		margin: 0 auto;
		width: 50%;
		min-height: 50px;
		border: solid 3px black;
		background-color: #282f54;
	}
}

/* Desktop */
@media screen and (max-width: 1024px)	
{
	.mobile, .tablet, .largeDesktop
	{
		display: none;
	}
	.desktop
	{
		display: block;
	}
	
	/.post
	{
		margin: 0 auto;
		width: 60%;
		min-height: 50px;
		border: solid 3px black;
		background-color: #282f54;
	}
}	

/* Tablet */
@media screen and (max-width: 768px)	
{
	.mobile, .desktop, .largeDesktop
	{
		display: none;
	}
	.tablet
	{
		display: block;
	}
	
	/.post
	{
		margin: 0 auto;
		width: 80%;
		min-height: 50px;
		border: solid 3px black;
		background-color: #282f54;
	}
	
}

/* Mobile */
@media screen and (max-width: 482px)
{
	.mobile
	{
		display: block;
	}
	.tablet, .dektop, .largeDesktop
	{
		display: none;
	}
	
	/.post
	{
		margin: 0 auto;
		width: 95%;
		min-height: 50px;
		border: solid 3px black;
		background-color: #282f54;
	}
}