	*
	{
		box-sizing: border-box;
	}
	
	body
	{
		margin: 0;
		font-size: 12pt;
		--2b: #2b2b2b;
		--parallelogramAccent: #6ff0e6;
		background-color: black;
	}
	
	.topNavBar
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 3em;
		background-color: var(--2b);
		border-bottom: solid 0.2vh var(--parallelogramAccent);
	}
	.topNavBarTextContainer p
	{
		padding: 0;
		font-size: 2.5em;
		font-family: 'Gothic A1', sans-serif; 
		font-weight: bold;
		text-transform: uppercase;
		border: solid 1px /white;
		margin: 0;
		
		color: var(--parallelogramAccent);
	}
	.topNavBarTextContainer
	{
		width: calc(100% - 1em);
		left: 1em;
		position: relative;
		height: 100%;
		border: solid 1px /green;
	}
	.topParallelogramContainer
	{
		width: 30%;
		height: 100%;
		border: solid 1px /yellow;
		position: relative;
		float: left;
		left: 5%;
	}
	.topParallelogramNavButton
	{
		margin-left: 5%;
		position: relative;
		float: left;
		width: 1em;
		height: 90%;
		left: 0;
		top: 0;
		transform: skew(-10deg);
		background-color: var(--parallelogramAccent);
	}
	
	.fullWindowContainer
	{
		position: absolute;
		margin: 0;
		height: calc(100vh - 3em);
		width: 100vw;
		top: 3em;
		background-color: var(--2b);
		border: solid 1% black;
		overflow: hidden;
	}
	
	.ParallelogramBorder
	{
		position: absolute;
		width: 50%;
		height: 100%;
		transform: skew(-10deg);
		background-color: var(--parallelogramAccent);
		z-index: 0;
	}
	
	.HomeNavButtonContainer
	{
		position: absolute;
		left: 5%;
		top: 15%;
		width: 90%;
		height: 30%;
		border: dashed 1px /red;
		z-index: 1;
	}
	.HomeParallelogramNavSpace
	{
		position: relative;
		float: left;
		width: 2%;
		height: 100%;
		transform: skew(-10deg);
		background-color: transparent;
	}
	.HomeParallelogramNavButton
	{
		padding-left: 10px;
		position: relative;
		float: left;
		width: 18%;
		height: 100%;
		transform: skew(-10deg);
		background-color: var(--parallelogramAccent);
		overflow: hidden;
		border: solid 5px var(--parallelogramAccent);
	}
	.HomeParallelogramNavButton img
	{
		position: relative;
		height: 100%;
		left: -150%;
	}
	.HomeParallelogramNavButton:nth-child(n+11)
	{
		top: 5%;
		transform: skew(10deg);
	}
	
	.NavButtonContainer
	{
		position: absolute;
		left: 75%;
		bottom: 5%;
		width: 20%;
		height: 8%;
		border: dashed 1px /red;
		z-index: 1;
	}
	.ParallelogramNavSpace
	{
		position: relative;
		float: left;
		width: 1%;
		height: 100%;
		transform: skew(-10deg);
		background-color: transparent;
	}
	.ParallelogramNavButton
	{
		padding-left: 10px;
		position: relative;
		float: left;
		width: 9%;
		height: 100%;
		transform: skew(-10deg);
		background-color: var(--2b);
	}
	
	.paraLeft
	{
		left: -45.5%;
	}
	.paraRight
	{
		left: 65%;
	}
	
	.details
	{
		font-size: 1.5em;
		font-family: 'Gothic A1', sans-serif; 
		font-weight: bold;
		
		padding-right: 1%;
		padding-top: 0;
		overflow-y: scroll;
		border: solid 1px /blue;
		width: 20%;
		height: 80%;
		position: absolute;
		left: 75%;
		bottom: 15%;
		z-index: 1;
	}
	.details p
	{
		margin: 0;
		color: var(--2b);
	}
	
	.aboutDetails
	{
		font-size: 1.5em;
		font-family: 'Gothic A1', sans-serif; 
		font-weight: bold;
		
		padding-right: 1%;
		padding-top: 0;
		overflow-y: scroll;
		border: solid 1px /blue;
		width: 40%;
		height: 80%;
		position: absolute;
		left: 15%;
		bottom: 15%;
		z-index: 1;
	}
	.aboutDetails p
	{
		margin: 0;
		color: var(--parallelogramAccent);
	}
	.aboutTitle
	{
		font-family: 'Fjalla One', sans-serif; 
		font-weight: bold;
		
		border: solid 2px /purple;
		width: 100%;
		padding-bottom: 2%;
	}
	.aboutTitle p
	{
		color: var(--parallelogramAccent);
	}
	
	.title
	{
		font-family: 'Fjalla One', sans-serif; 
		font-weight: bold;
		
		border: solid 2px /purple;
		width: 100%;
		padding-bottom: 2%;
	}
	.title p
	{
		border: solid 1px /white;
		margin: 0;
		color: var(--2b);
	}
	
	.debugBlock
	{
		position: fixed;
		background-color: black;
		min-width: 10px;
		min-height: 10px;
		bottom: 0;
		left: 0;
		z-index: 100;
		padding: 0 5px;
		color: white;
	}
	
	.mobile, .tablet, .desktop, .largeDesktop
	{
		display: none;
	}
	
	
/* Big Desktop */
@media screen and (min-width: 1025px)	
{
	.mobile, .tablet, .dekstop
	{
		display: none;
	}
	.largeDesktop
	{
		display: block;
	}
	
	.HomeNavButtonContainer
	{
		position: absolute;
		left: 5%;
		top: 15%;
		width: 90%;
		height: 60%;
		border: dashed 1px /red;
		z-index: 1;
	}
	.HomeParallelogramNavSpace
	{
		position: relative;
		float: left;
		width: 1%;
		height: 100%;
		transform: skew(-10deg);
		background-color: transparent;
	}
	.HomeParallelogramNavButton
	{
		padding-left: 10px;
		position: relative;
		float: left;
		width: 9%;
		height: 100%;
		transform: skew(-10deg);
		background-color: var(--parallelogramAccent);
	}
	.HomeParallelogramNavButton:nth-child(n+11)
	{
		top: 0;
		transform: skew(-10deg);
	}
	
}

/* Desktop */
@media screen and (max-width: 1024px)	
{
	.mobile, .tablet, .largeDesktop
	{
		display: none;
	}
	.desktop
	{
		display: block;
	}
	
	.paraLeft
	{
		left: -50%;
	}
	.paraRight
	{
		left: 65%;
	}
	
	.details
	{
		font-size: 1.3em;
		padding-right: 0.5%;
		width: 24%;
		height: 80%;
		left: 78%;
	}
	
	.NavButtonContainer
	{
		left: 78%;
	}
	.ParallelogramNavButton
	{
		width: 8%;
	}
	.ParallelogramNavSpace
	{
		width: 2%;
	}
}	

/* Tablet */
@media screen and (max-width: 768px)	
{
	.mobile, .desktop, .largeDesktop
	{
		display: none;
	}
	.tablet
	{
		display: block;
	}
	
	.NavButtonContainer
	{
		position: absolute;
		left: 5%;
		bottom: 2.5%;
		/* details bottom + this height + 1/2 details height */
		width: 30%;
		height: 45.5%;
		border: dashed 1px /red;
		z-index: 1;
	}
	.ParallelogramNavButton
	{
		border: solid 2px /green;
		width: 100%;
		height: 8%;
		transform: skew(0deg, -10deg);
	}
	.ParallelogramNavSpace
	{
		border: solid 2px /yellow;
		height: 2%;
	}
	
	.fullWindowContainer
	{
		position: absolute;
		margin: /10vh /10vw;
		height: /80vh;
		width: /80vw;
		overflow: /visible;
	}
	
	.paraLeft
	{
		height: 65vh;
		width: 100vw;
		bottom: -10vh;
		left: 0%;
		transform: skew(0deg, -10deg);
		border: solid 1px /red;
		z-index: 1;
	}
	
	.paraRight
	{
		left: 150%;
	}
	
	.details
	{
		font-size: 1em;
		padding-right: 0.5%;
		left: 45%;
		width: 50%;
		height: 45.5%;
		bottom: 5%;
		border: solid 1px /blue;
	}
	
}

/* Mobile */
@media screen and (max-width: 482px)
{
	.mobile
	{
		display: block;
	}
	.tablet, .dektop, .largeDesktop
	{
		display: none;
	}
	
	.NavButtonContainer
	{
		height: 42.5%;
	}
	
	.details
	{
		border: solid 1px /blue;
		left: 45%;
		width: 50%;
		height: 42%;
	}
	
	.paraLeft
	{
		height: 60vh;
	}
	
}