	*
	{
		box-sizing: border-box;
	}
	
	body
	{
		margin: 0;
		font-size: 12pt;
		--2b: #2b2b2b;
		--parallelogramAccent: #6ff0e6;
		background-color: black;
		
		--postColor01: #30289E;
		--postColor02: #2A238D;
		--postColor03: #251E7B;
		--postColor04: #1F1A6A;
		--postColor05: #191558;
		--postColor06: #141047;
		--postColor07: #0E0B35;
	}
	
	.fullWindowContainer
	{
		position: absolute;
		margin: 0;
		height: 100vh;
		width: 100vw;
		background-color: #2b2b2b;
		border: solid 1% black;
		overflow: hidden;
	}
	
	.ParallelogramBorder
	{
		position: absolute;
		width: 50%;
		height: 100%;
		transform: skew(-10deg);
		background-color: var(--parallelogramAccent);
		z-index: 0;
	}
	
	.NavButtonContainer
	{
		position: absolute;
		left: 75%;
		bottom: 5%;
		width: 20%;
		height: 8%;
		border: dashed 1px /red;
		z-index: 1;
	}
	.ParallelogramNavSpace
	{
		position: relative;
		float: left;
		width: 1%;
		height: 100%;
		transform: skew(-10deg);
		background-color: transparent;
	}
	.ParallelogramNavButton
	{
		padding-left: 10px;
		position: relative;
		float: left;
		width: 9%;
		height: 100%;
		transform: skew(-10deg);
		background-color: var(--2b);
	}
	
	.paraLeft
	{
		left: -45.5%;
	}
	.paraRight
	{
		left: 65%;
	}
	
	.details
	{
		font-size: 1.5em;
		font-color: var(--2b);
		font-family: 'Gothic A1', sans-serif; 
		font-weight: bold;
		
		padding-right: 1%;
		overflow-y: scroll;
		border: solid 1px /blue;
		width: 20%;
		height: 80%;
		position: absolute;
		left: 75%;
		bottom: 15%;
		z-index: 1;
	}
	
	[scrollFlag]
	{
		
	}
	
	html
	{
		
	}
	
	p
	{
		color: white;
		font-size: 48pt;
		font-family: Karla;
	}
	
	.debugBlock
	{
		position: fixed;
		background-color: black;
		min-width: 10px;
		min-height: 10px;
		top: 0;
		left: 0;
		z-index: 100;
		padding: 0 5px;
		color: white;
	}
	.mobile, .tablet, .desktop, .largeDesktop
	{
		display: none;
	}
	
	
/* Big Desktop */
@media screen and (min-width: 1025px)	
{
	.mobile, .tablet, .dekstop
	{
		display: none;
	}
	.largeDesktop
	{
		display: block;
	}
	
	
}

/* Desktop */
@media screen and (max-width: 1024px)	
{
	.mobile, .tablet, .largeDesktop
	{
		display: none;
	}
	.desktop
	{
		display: block;
	}
	
	.paraLeft
	{
		left: -50%;
	}
	.paraRight
	{
		left: 65%;
	}
	
	.details
	{
		font-size: 1.3em;
		
		width: 25%;
		height: 80%;
		position: absolute;
		left: 75%;
		bottom: 15%;
		z-index: 1;
	}
	
	.ParallelogramNavButton
	{
		width: 8%;
	}
	.ParallelogramNavSpace
	{
		width: 2%;
	}
}	

/* Tablet */
@media screen and (max-width: 768px)	
{
	.mobile, .desktop, .largeDesktop
	{
		display: none;
	}
	.tablet
	{
		display: block;
	}
	
	
	
}

/* Mobile */
@media screen and (max-width: 482px)
{
	.mobile
	{
		display: block;
	}
	.tablet, .dektop, .largeDesktop
	{
		display: none;
	}
	
	
}