*{
	box-sizing: border-box;
}

body{
	background-color: #117A65;
	margin: 0;
}

div{
	background-color: #117A65;
	z-index: 4;
}

.boardHolder{
	width: 90vh;
	height: 90vh;
	margin: 5vh auto;
	border: 0px solid red;
}

.row {
	height: 10vh;
	border: 0px dashed white;
}

.cell {
	margin-right: -1px;
	float: left;
	width: 10vh;
	height: 100%;
	border: 0px solid blue;
	background-color: black;
}

.innerCell{
	float: left;
	width: 20%;
	height: 20%;
	border: 0px solid #117A65;
	background-color: #117A65;
}

.cellOff{
	float: left;
	width: 20%;
	height: 20%;
	border: 0px solid #117A65;
	background-color: #117A65;
}

.cellOn{
	float: left;
	width: 20%;
	height: 20%;
	border: 0px solid #117A65;
	background-color: white;
}

.button1 {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
	position: fixed;
	top:1%;
	left: 25vw;
}

.button1 p {
	width: 25vw;
	color: white;
	font-size: 14px;
	font-family: sans-serif;
	margin: 4px auto;
	position:relative;
	left: 30px;
	overflow: visible;
}

.button2 {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
	position: fixed;
	top:1%;
	left: 50vw;
}

.button2 p {
	width: 25vw;
	color: white;
	font-size: 14px;
	font-family: sans-serif;
	margin: 4px auto;
	left: 30px;
	position:relative;
}

.debug {
	margin: 0;
	color: white;
	position: fixed;
	top: 0%;
	left: 0%;
	size: 16px;
	font-family: sans-serif;
}

@media only screen and (max-width: 100vh) {
	
	.row{
		height: 10vw;
	}
	
	.cell{
		width: 10vw;
		height: 10vw;
	}
	
	.boardHolder{
	width: 90vw;
	height: 90vw;
	}
	
	.button1{
		left: 5vw;
	}
}

@media only screen and (max-width: 50vh) {
	
	.button1{
		
	}
	
	.button1 p{
		font-size: 12px;
	}
	
	.button2{
		left: 90vw;
	}
	
	.button2 p{
		width: 200px;
		left: 40px;
		float: right;
		font-size: 12px;
	}
}

.row:nth-child(even) .cell:nth-child(odd) .innerCell:nth-child(even){
}

.row:nth-child(odd) .cell:nth-child(odd) .innerCell:nth-child(odd){
}

.row:nth-child(odd) .cell:nth-child(even) .innerCell:nth-child(even){
}

.row:nth-child(even) .cell:nth-child(even) .innerCell:nth-child(odd){
}